project: dst-mlpipes
dataset_id: tfx_ca
bigquery_table: visitdata
visitdata_bucket: tfxca_visitdata
local_staging_dir: /tmp/tfxca_data
hdfs_staging_dir: /user/pmccarthy/tickets/mle4351/tfxca_visitdata

pipeline_root_dir: 'gs://tfxca-pipeline-artifacts'
serving_model_dir: 'gs://tfxca-model-serving'

module_file: 'gs://tfxca-pipeline-artifacts/tfxca_trainer.py'

beam:
  args: 
    - '--temp_location=gs://pjm_interactive_tmp'
    - '--project=dst-mlpipes'
  metadata_path: '/tmp/tfxca_beam_pipeline/meta'
  pipeline_name: 'tfxca_beam_pipeline_OL'


kfp:
  cluster_name: 'cluster-1'
  google_cloud_project: 'dst-mlpipes'
  pipeline_name: 'tfxca'
  zone: 'us-central1-a'
  region: 'us-central1'